{:paths ["src"]
 :version "0.1.0"
 :deps {
        ;; kotoba.test (clojure.test-compatible surface), not clojure.test --
        ;; scripts/migrate-clojure-test-to-kotoba-test.cljk. Explicit floor.
        io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git"
                                    :git/sha "2ab4885f99fd25552d380d0f6b0b54c5a72eb7ae"}
        io.github.kotoba-lang/crypto-aead
        {:git/url "https://github.com/kotoba-lang/crypto-aead.git"
         :git/sha "73544978d7abd9690bfc89347f60194413d2ef65"}
        io.github.kotoba-lang/crypto-aead-provider
        {:git/url "https://github.com/kotoba-lang/crypto-aead-provider.git"
         :git/sha "e9b847ff80dd19fb8118ce8f7de7c0c9fe5e7899"}
        io.github.kotoba-lang/crypto-envelope-metadata
        {:git/url "https://github.com/kotoba-lang/crypto-envelope-metadata.git"
         :git/sha "7258280131776b84af41392d7f480dbbc4de7b6e"}
        io.github.kotoba-lang/crypto-hash
        {:git/url "https://github.com/kotoba-lang/crypto-hash.git"
         :git/sha "129406c7237bf555aa552349bc31f6c619ba427e"}
        io.github.kotoba-lang/crypto-hkdf
        {:git/url "https://github.com/kotoba-lang/crypto-hkdf.git"
         :git/sha "a7516985308219314d35fb7130fe23cc1b399990"}
        io.github.kotoba-lang/crypto-hmac
        {:git/url "https://github.com/kotoba-lang/crypto-hmac.git"
         :git/sha "111c937eb0f8d71aa57a2ef08d71840bb3b687cd"}
        io.github.kotoba-lang/crypto-mock-aead
        {:git/url "https://github.com/kotoba-lang/crypto-mock-aead.git"
         :git/sha "cf1412d70e79ce82fecc4cd857eea1eee36aaefe"}
        io.github.kotoba-lang/crypto-seal
        {:git/url "https://github.com/kotoba-lang/crypto-seal.git"
         :git/sha "c4e2d842ed84ba252f1e0611aa3496625a7923f9"}
        io.github.kotoba-lang/crypto-unseal
        {:git/url "https://github.com/kotoba-lang/crypto-unseal.git"
         :git/sha "afa27d01678e5a753f2e334767c22f4834dc9a14"}
        io.github.kotoba-lang/crypto-validate-provider
        {:git/url "https://github.com/kotoba-lang/crypto-validate-provider.git"
         :git/sha "a32e42fc3e03b9f5f8790f1eecb09ec0971efd2b"}
}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
